asgiref==3.2.7
attrs==19.3.0
automium==0.2.6
automium-web==0.1.1
backcall==0.1.0
bleach==3.1.1
certifi==2020.4.5.2
chardet==3.0.4
click==7.1.2
colorama==0.4.3
coreapi==2.3.3
coreschema==0.0.4
cycler==0.10.0
data==0.4
decorator==4.4.2
defusedxml==0.6.0
Django==3.0.7
django-crispy-forms==1.12.0
django-stubs==1.8.0
django-stubs-ext==0.2.0
djangorestframework==3.12.4
djangorestframework-stubs==1.4.0
entrypoints==0.3
Flask==2.0.0
funcsigs==1.0.2
idna==2.9
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==2.0.1
itypes==1.2.0
jedi==0.16.0
Jinja2==3.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.0.0
jupyter-console==6.1.0
jupyter-core==4.6.3
kiwisolver==1.2.0
legacy==0.1.6
MarkupSafe==2.0.1
matplotlib==3.3.0
mistune==0.8.4
mtt==0.0.0
myapp==0.1.dev0
mypy==0.910
mypy-extensions==0.4.3
nbconvert==5.6.1
nbformat==5.0.4
notebook==6.0.3
numpy==1.19.0
Paginator==0.5.1
pandocfilters==1.4.2
parso==0.6.2
pickleshare==0.7.5
Pillow==7.1.2
prometheus-client==0.7.1
prompt-toolkit==3.0.4
psycopg2==2.8.6
psycopg2-binary==2.9.1
pygame==1.9.6
Pygments==2.6.1
pyparsing==2.4.7
pyrsistent==0.15.7
python-dateutil==2.8.1
pytz==2020.1
pywin32==227
pywinpty==0.5.7
pyzmq==19.0.0
qtconsole==4.7.1
QtPy==1.9.0
reportlab==3.5.68
requests==2.23.0
Send2Trash==1.5.0
six==1.14.0
sqlparse==0.3.1
svgwrite==1.4.1
tee==0.0.3
terminado==0.8.3
testpath==0.4.4
toml==0.10.2
tornado==6.0.4
traitlets==4.3.3
Tree==0.2.4
typing-extensions==3.10.0.0
uritemplate==3.0.1
urllib3==1.25.9
users==1.0.dev0
view==0.1
views==0.3
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
